<tr id="contact-{{ contact.id }}">
    <td>{{ contact.name }}</td>
    <td>{{ contact.email }}</td>
    <td>{{ contact.phone|default:"-" }}</td>
    <td>
    <button hx-delete="{% url 'contacts:contact_delete' contact.id %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-confirm="Yakin hapus {{ contact.name }}?">
        Hapus
    </button>
    <button hx-get="{% url 'contacts:contact_edit' contact.id %}"
        hx-target="closest tr"
        hx-swap="outerHTML">
    Edit
    </button>
    </td>
</tr>